@use './variables' as *;

// - Thin
@font-face {
    font-family: Phosphor;
    font-weight: 100;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/thin/Phosphor-Thin.woff2') format('woff2'),
        url('#{$font-root-path}/thin/Phosphor-Thin.woff') format('woff');
}

// - Light
@font-face {
    font-family: Phosphor;
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/light/Phosphor-Light.woff2') format('woff2'),
        url('#{$font-root-path}/light/Phosphor-Light.woff') format('woff');
}

// - Regular
@font-face {
    font-family: Phosphor;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/regular/Phosphor.woff2') format('woff2'),
        url('#{$font-root-path}/regular/Phosphor.woff') format('woff');
}

// - Bold
@font-face {
    font-family: Phosphor;
    font-weight: 800;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/bold/Phosphor-Bold.woff2') format('woff2'),
        url('#{$font-root-path}/bold/Phosphor-Bold.woff') format('woff');
}

// - Fill
@font-face {
    font-family: Phosphor;
    font-weight: 900;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/fill/Phosphor-Fill.woff2') format('woff2'),
        url('#{$font-root-path}/fill/Phosphor-Fill.woff') format('woff');
}

// - Duotone
@font-face {
    // stylelint-disable-next-line font-family-name-quotes
    font-family: 'Phosphor-Duotone';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        url('#{$font-root-path}/duotone/Phosphor-Duotone.woff2') format('woff2'),
        url('#{$font-root-path}/duotone/Phosphor-Duotone.woff') format('woff');
}
